{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe  {% endblock %}



{% block content %} <br>


    <div class="modify_password "><br>
        <h3>Modifier votre mot de passe </h3>
        
     {{ form (form) }}
        <a href="{{path('account') }}">retourner à votre compte</a><br>

        <hr>
        <br>
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}  
        

       

    </div>
   
{% endblock %}
