{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}


    <div class="qui-sommes-nous">
        <p>
        Madame, Monsieur, 
        </p>


        <p>
            C'est avec un grand plaisir que nous vous accueillons sur notre nouveau site internet : www.mapetiteboutique.com.
        </p>



        <p>
            Après plusieurs semaines de développement, nous sommes heureux de pouvoir vous présenter la vitrine de notre enseigne sur la toile. Ce site a été pensé pour nos clients et permettra d'accompagner notre essor commun et de faciliter vos démarches.
        </p>


        <p>
            Vous y trouverez des informations sur nos produits, un espace membre simple afin de vous inscrire et acheter en toute sécurité. N'hésitez pas à nous transmettre vos remarques par le biais du formulaire de contact.
        </p>
    
        
        <p>
            En espérant que vous apprécierez ce nouveau moyen de communiquer avec nous, nous vous souhaitons une bonne découverte du site. 
        </p>
    
    
        <p>
            Très cordialement, <br><br> Madame Dada, gérante du site
        </p>
    


    </div>
    

{% endblock %}
